body{
   margin: auto;
}

.container{

   display: flex;
   flex-direction: column;
   height: auto;
   margin-top: 15%;
   margin-left: 10%;
   margin-right: 10%;
   align-items: flex-start;
   background-color: rgba(234, 234, 234, 0.518);


}
.myContainer {
   width: 60%;
}
.chatExternal{
  display: flex;
  flex-direction: column;
  /* flex-shrink: inherit; */
  /* align-items: flex-start; */
  margin: 0;
  padding: 0;
  /* padding: 2%;  */
  height: 50%;
  width: 60%;
}

.textContainer{
   padding: 0;
}

.chatUser{
   display: flex;
   align-self: flex-end;
   flex-direction: column;
   /* justify-content: flex-end; */
   align-items: flex-end;
   /* flex-shrink: inherit; */

   /* margin: 0; */
   margin-right: 5%;
   padding: 0;
   /* padding: 2%;  */
   height: 50%;
   width: 60%;
 }

.chat2{
   display: flex;
   flex-direction: column;
   margin: 0;
   padding: 0;
   /* padding: 2%;  */
   height: 50%;
   /* width: 100%; */
 }

.messageContainer {
   display: flex;
   /* flex-wrap: wrap; */
   width: 100%;
   padding: 5%;
}

.messageContainerUser {
   display: flex;
   justify-content: flex-end;
   /* flex-wrap: wrap; */
   width: 100%;
   padding: 5%;
}

#message{
   display: flex;
   /* flex-wrap: wrap; */
   flex-direction: column;
   /* align-items: center; */
   color: whitesmoke;
   background-color: rgba(161, 83, 234, 0.521);
   border-radius: .5em;
   padding: 2%;
   margin-left: 1%;
   /* width: 80%; */
   height: 90%;
   /* margin: 5% 0; */

}

#message.userExternal {
   background-color: rgba(161, 83, 234, 0.521);
}

#message.user {
   background-color: rgba(87, 87, 216, 0.594);;
}


img{
   display: flex;
   height: 60px;
   border-radius:40px;
   margin: 2%;
}

.messageInfo{
   display: flex;
   justify-content: flex-end;
   align-items: flex-end;
   justify-self: flex-end;
   color: rgb(59, 54, 54);
   font-size: 10px;
}
.messageStatus {
   display: flex;
   margin: 0 0;
   padding: 0 0;
}
.messageStatus img {
   margin: 0;
   width: 15px;
   height: 15px;
}

.messageStatus img:nth-child(2) {
   margin-left: -10px;
}

.messageStatus image {
   margin: 0;
   padding: 0;
}
.time {
   text-align: center;
   padding: 2px;
}
